@import "tailwindcss";

@theme {
  --color-blue: #6436f1;
  --color-black: #0a090b;
  --color-gray: #7f8190;
  --color-a5: #a5abb2;
  --color-ee: #eee;
}

* {
  font-family: "Poppins", sans-serif;
}

.text-14 {
  @apply text-xs md:text-sm;
}

.text-16 {
  @apply text-sm md:text-base;
}

.text-20 {
  @apply text-lg md:text-xl;
}
