@import "tailwindcss";

@theme {
  --color-blue: #6436f1;
  --color-black: #0a090b;
  --color-gray: #7f8190;
  --color-a5: #a5abb2;
  --color-ee: #eee;
  --color-ea: #eae8fe;
  --color-orange: #f6770b;
}

* {
  font-family: "Poppins", sans-serif;
}

.text-14 {
  @apply text-xs md:text-sm;
}

.text-16 {
  @apply text-sm md:text-base;
}

.text-20 {
  @apply text-lg md:text-xl;
}

.flex-col-wrapper,
.flex-col-30 {
  @apply flex flex-col gap-5 md:gap-7.5;
}

.flex-col-16 {
  @apply flex flex-col gap-3 md:gap-4;
}

.flex-col-1 {
  @apply flex flex-col gap-1 lg:gap-0;
}
