@import "tailwindcss";

@theme {
  --color-blue: #6436f1;
  --color-black: #0a090b;
  --color-gray: #7f8190;
  --color-a5: #a5abb2;
  --color-ee: #eee;
  --color-ea: #eae8fe;
  --color-orange: #f6770b;
  --color-red: #fd445e;
  --color-green: #06BC65;
}

* {
  font-family: "Poppins", sans-serif;
}

.text-12 {
  @apply text-[10px] md:text-xs;
}

.text-14 {
  @apply text-xs md:text-sm;
}

.text-16 {
  @apply text-sm md:text-base;
}

.text-18 {
  @apply text-[14px] md:text-[18px];
}

.text-20 {
  @apply text-lg md:text-xl;
}

.text-24 {
  @apply text-xl md:text-2xl;
}

.flex-col-wrapper,
.flex-col-30 {
  @apply flex flex-col gap-5 md:gap-7.5;
}

.flex-col-16 {
  @apply flex flex-col gap-3 md:gap-4;
}

.flex-col-1 {
  @apply flex flex-col gap-1 lg:gap-0;
}

.checkbox-style {
  @apply cursor-pointer w-5 h-5 md:w-6 md:h-6 rounded-full accent-[#2B82FE] appearance-none border-2 border-[#EEEEEE] checked:before:rounded-full checked:before:border-2 checked:md:before:border-[3.5px] checked:before:border-white checked:before:w-full checked:before:h-full checked:before:absolute checked:before:inset-0 checked:before:bg-[#2B82FE] relative focus:outline-none focus:ring-0;
}

.border-shadow-gray {
  @apply shadow-[0_0_0_1px_#EEE];
}

.border-shadow-active-black {
  @apply shadow-[0_0_0_2px_black];
}
